@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: 'Roboto', sans-serif !important;
}
#Email:user-invalid {
  border-color: hsl(4, 100%, 67%);
  background-color: rgba(255, 98, 87, 0.25);
}
label > span {
  display: none;
}
#Email:user-invalid + span {
  display: block;
}
